h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.container {
    display: grid;
    border: 1px black solid; 
    margin: auto;
    background-color: bisque;
}

/* .square {
    background-color: bisque;
} */

